{
    "extends": "eslint:recommended",
    "env": {
      "node": true,
      "es6": true
    },
    "rules": {
      "indent": [
        "error",
        4
      ],
      "linebreak-style": [
        "error",
        "unix"
      ],
      "quotes": [
        "error",
        "double"
      ],
      "semi": [
        "error",
        "always"
      ],
      "comma-dangle": [
        "error",
        "always"
      ],
      "no-cond-assign": [
        "error",
        "always"
      ],
      "no-console": "off"
    }
}
